#skills {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    background: var(--primary-color);
    flex-direction: row;
    gap: 2vw;
    justify-content: space-around;
    align-items: center;
}

#skills > .container{
    height: 80vh;

}

#skills > .mac-window {
    width: 40vw;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

#skills > .mac-window > .mac-window-topbar {
    background-color: #454340;
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 0 8px;
}


#skills > .mac-window > .mac-window-topbar > .mac-window-buttons {
    display: flex;
    gap: 0.5vw;
}

#skills > .mac-window > .mac-window-topbar > .mac-window-buttons > p{
    letter-spacing: 3px;
}


#skills > .mac-window > .mac-window-topbar > .mac-window-buttons > .mac-window-button {
    width: 1vw;
    height: 2vh;
    border-radius: 50%;
    margin-right: 6px;
}

#skills > .mac-window > .mac-window-topbar > .mac-window-buttons > .mac-window-button.close {
    background-color: #ff5f56; /* Rojo */
}

#skills > .mac-window > .mac-window-topbar > .mac-window-buttons > .mac-window-button.minimize {
    background-color: #ffbd2e; /* Amarillo */
}

#skills > .mac-window > .mac-window-topbar > .mac-window-buttons > .mac-window-button.maximize {
    background-color: #27c93f; /* Verde */
}

#skills > .mac-window > .mac-window-content {
    padding: 3%;
    gap: 1rem;
    height: -webkit-fill-available;
    background-color: white;
}

#skills > .mac-window > .mac-window-content > * {
    margin-bottom: 1rem; /* Ajusta el valor según sea necesario */
}

#skills > .mac-window > .mac-window-content > p{
    color: var(--skill-words);
    font-size: 1.2rem;
    letter-spacing: 4px;
    word-spacing: 4px;
}

#skills > .mac-window > .mac-window-content > p > strong{
    color: var(--skills);
}

.wrapper {
    box-sizing: border-box;
    position: relative;
}

.custom-shape-divider-top-1685513857 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1685513857 img {
    position: relative;
    display: block;
    width: calc(70% + 100vw);
    height: 20vh;
}

.custom-shape-divider-bottom-1685513857 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1685513857 img {
    position: relative;
    display: block;
    width: calc(70% + 100vw);
    height: 20vh;
}

#skills > .carousel2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    overflow: hidden;
}

#skills > .carousel2 > h2 {
    font-size: 5vw;
    margin: inherit;
    color: var(--second-word);
    margin-bottom: 2vh;
}

#skills > .carousel2 > #icon-list2 {
    display: inline-flex;
    padding: 10px;
    gap: 1vw;
    flex-wrap: wrap;
    justify-content: center;
}

#skills > .carousel2 > #icon-list2 > li {
    position: relative; /* Establece la posición relativa para que los pseudoelementos estén posicionados correctamente */
    overflow: hidden; /* Oculta el desenfoque que se salga del contenedor */
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 8px 32px 0px rgba(31, 38, 135, 0.37);
;
}


#skills > .carousel2 > #icon-list2 > li > img.icon-wepb {
    position: relative;
    z-index: 1;
    filter: blur(0);
    width: 4rem;
    margin: 0.5rem;
}


@media screen and (width < 768px) {
    #skills {
        flex-direction: column;
    }

    #skills > .mac-window {
        width: 90%;
    }

    #skills > .mac-window > .mac-window-content > p{
        word-spacing: none;
    }

    
}