:root {
    --primary-color: #17191D;
    --secondary-color: #C0C9CA;
    --text-color: #F8F8F5;
}


* {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}


/* Estilos para el header */
header > nav {
    width: 100vw;
    height: 6vh;
    min-height: 40px;
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para el efecto de relieve */
    z-index: 2; /* Coloca el nav por encima del contenido */
}

/* Estilos para el efecto de relieve en el header */
header > nav::after {
    content: '';
    position: absolute;
    top: -2px; /* Ajusta la posición del elemento para que se superponga al borde superior */
    left: 0;
    width: 100%;
    height: 4px; /* Grosor del desenfoque */
    background: var(--primary-color); /* Utiliza el mismo color de fondo que el nav */
    filter: blur(3px); /* Aplica un desenfoque */
    z-index: -1; /* Coloca el elemento detrás del nav */
}

/* Estilos para la lista de navegación */
ul {
    margin: 0 3vw 0 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
}

/* Estilos para los elementos de la lista de navegación */
li {
    margin: 0 2vw;
}

/* Estilos para el logo */
.logo {
    margin-left: 3vw;
    font-size: 2.5vw;
}

.logo .first-word {
    font-family: 'Montserrat'; /* Aplica Montserrat a la primera palabra */
}

.logo .second-word {
    font-family: 'Poller One'; /* Aplica Poller One a la segunda palabra */
    color: #86c3ff; /* Cambia el color de la segunda palabra */
}


/* Estilos para el contenido principal */
#home {
    height: 100vh;
    background: linear-gradient(0deg, var(--secondary-color) 0%, var(--primary-color) 100%);
        display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content > article > svg > image{
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6));

}

.content > article {
    width: 50vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content > article > h1 {
    font-size: 5vw; /* Tamaño de la fuente en relación con el ancho de la ventana */
    margin: inherit;
}

.content > article .third-word{
    color: var(--primary-color); /* Cambia el color de la segunda palabra */
}

.content > article > .carousel {
    display: flex;
    width: 40vw;
    overflow: hidden;
    margin-top: 12vh;
}

.content > article > .carousel > ul{
    padding: 5vh;
    animation: desplazar 20s linear infinite;

}
@keyframes desplazar {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(-48vw));
    }
}


/* Estilos adicionales */
#skills {
    height: 100vh;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills > svg{
    overflow: hidden;
    position: absolute;
    top: 60vh;
}

.tools {
    margin-top: 20px;
}
